body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333;
    font-size: 1.2rem;
    line-height: 1.6rem;
    margin: 0;
}

h1{
    font-size: 2rem;
    line-height: 1.3em;
}

p{
    margin-bottom: 1.6em;
}

.container{
    width: 85%;
    max-width: 850px;
    margin: 0 auto;
}

.header{
    background: #333;
    color: white;
    padding: 2rem 0;

    position: fixed;
    left: 0;
    top: 0;
    right: 0;
} 
   .header a {
       color: white;
       text-decoration: none;
   }

.logo-nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo{
    letter-spacing: 15px;
    font-size: 1.3em;
}

.navigation ul{
        margin: 0;
        padding: 0;
        list-style: none;
}

   .navigation ul li{
       display: inline-block;
   }
     .navigation ul li a {
         display: block;
         padding: 0.5rem 1rem;
         transition: all 0.4s linear;
         border-radius: 5px;
     }
       .navigation ul li a:hover{
           background: #4a4a4a;
       }

.main{
    padding-top: 12rem;
}


.footer{
    background: #f2f2f2;
    padding: 3rem 0;
    text-align: center;
    /*margin-top: 6rem;
    */
}

.main{
    width: 100%;
    background: url(/images/Fondo.jpg)no-repeat;
    background-size: cover;
    height: 100vh;
    transition: 0.3s;
}

.slider{
    width: 800px;
    height: 500px;
    border-radius: 10px;
    display: block;
    margin: auto;
    overflow: hidden;
}

.slides{
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 20%;
    transition: 2s;
}

.slide img{
    width: 800px;
    height: 800px;
}

.navigation-manual{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid #40d3dc;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background: #40d3dc;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}

#radio3:checked ~ .first{
    margin-left: -40%;
}

.navigation-auto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
}

.navigation-auto div{
    border: 2px solid #40d3dc;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background: #40d3dc;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background: #40d3dc;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background: #40d3dc;
}

.form{
    font-family: "Roboto", sans-serif;
    z-index: 1;
    background: #ffffff;
    max-width: 500px;
    margin: 50px auto 100px;
    padding: 10px 45px 30px 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 10px;
    display: flex;
    
}

.form p{
    padding: 10px;
    text-align: center;
    color: #09aad3;
    font-size: 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
}

.form input{
    outline: 0;
    border-radius: 10px;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0px 20px 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form select{
    outline: 0;
    border-radius: 10px;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 150px 20px 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form input :hover{
    background-color: #79e1f1;
    transition: all 1s ease 0s;
}

.form input:focus{
    background-color: #79e1f1;
    transition: all 1s ease 0s;
}

.form select :hover{
    background-color: #79e1f1;
    transition: all 1s ease 0s;
}

.form select:focus{
    background-color: #79e1f1;
    transition: all 1s ease 0s;
}

.form button{
    text-transform: uppercase;
    outline: 0;
    border-radius: 10px;
    background: #09aad3;
    width: 50%;
    border: 0;
    padding: 15px;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
}

.form button:hover, .form button:active, .form button:focus{
    background-color: #09aad3;
    transition: all 1s ease 0s;
}

.form .message{
    margin: 15px 0 0;
    color: #09aad3;
    font-size: 12px;
}

.form .message a{
    color: #000;
    text-decoration:none;
}

.form .profile img{
    margin: 20px 0;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}